# MRAM_16nm_cache_32MB.cfg

-DesignTarget: cache
-OutputFilePrefix: MRAM_16nm_cache_32MB

-ProcessNode: 16
-ProcessNodeR: 16
-ProcessNodeW: 16

-DeviceRoadmap: LOP
-DeviceRoadmapR: LOP
-DeviceRoadmapW: LOP

-Capacity (MB): 32
-WordWidth (bit): 512
-Associativity (for cache only): 16

-LocalWireType: LocalAggressive
-LocalWireRepeaterType: RepeatedNone
-LocalWireUseLowSwing: No

-GlobalWireType: GlobalAggressive
-GlobalWireRepeaterType: RepeatedNone
-GlobalWireUseLowSwing: No

-Routing: H-tree
-InternalSensing: true

-MemoryCellInputFile: MRAM_16nm.cell

-Temperature (K): 350
-UseCactiAssumption: Yes

